{{template "base" .}} {{define "content"}}

<section id="hero" class="grid">
  <div class="s12 s m m12">
    <img src="/static/images/hero.png" alt="Hero Image" />
  </div>
  <div class="s12 m12 l6 middle-align">
    <div class="pl5 l"></div>
    <div class="texts-wrapper">
      <h1 class="title">Your All-In-One booking solution</h1>
      <p class="subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        tempus orci eget urna dapibus faucibus. Integer iaculis nunc
        ullamcorper, tempor erat at
        <span class="primary-text font-600">InnOne</span>
      </p>

      <div class="space"></div>

      <button class="no-margin">Order a Room</button>
    </div>
  </div>
  <div class="l l6 center-align">
    <img src="/static/images/hero.png" alt="Hero Image" />
  </div>
</section>

<div class="large-padding">
  <div class="divider"></div>
</div>

<section id="offer">
  <h5>We Have It <span class="primary-text pl05">All</span></h5>
  <p>
    Ut non ex elementum, feugiat ante sit amet, tincidunt neque. Sed vestibulum
    in turpis ut sagittis.
  </p>

  <div class="large-space"></div>

  <div class="item">
    <img src="/static/images/road.jpg" alt="Road" />
    <div>
      <h6>Humble Retreats</h6>
      <p>
        Nunc metus nisl, vehicula ac sagittis id, egestas et urna. Pellentesque
        nisl purus, viverra vel lectus non, luctus commodo nibh. Quisque
        sollicitudin erat non ligula laoreet rutrum. Aliquam vulputate fringilla
        enim nec condimentum. Donec dapibus lacus dolor, non pharetra risus
        sodales quis.
      </p>

      <button class="inverted no-wave">
        Browse this category
        <i>chevron_right</i>
      </button>
    </div>
  </div>

  <div class="pt5 l m"></div>

  <div class="item">
    <img src="/static/images/house.jpg" alt="House" />
    <div>
      <h6>Mid-Range Comfort</h6>
      <p>
        Nunc metus nisl, vehicula ac sagittis id, egestas et urna. Pellentesque
        nisl purus, viverra vel lectus non, luctus commodo nibh. Quisque
        sollicitudin erat non ligula laoreet rutrum. Aliquam vulputate fringilla
        enim nec condimentum. Donec dapibus lacus dolor, non pharetra risus
        sodales quis.
      </p>

      <button class="inverted no-wave">
        Browse this category
        <i>chevron_right</i>
      </button>
    </div>
  </div>

  <div class="pt5 l m"></div>

  <div class="item">
    <img src="/static/images/scenery.jpg" alt="Manor" />
    <div>
      <h6>Grandeur Suites</h6>
      <p>
        Nunc metus nisl, vehicula ac sagittis id, egestas et urna. Pellentesque
        nisl purus, viverra vel lectus non, luctus commodo nibh. Quisque
        sollicitudin erat non ligula laoreet rutrum. Aliquam vulputate fringilla
        enim nec condimentum. Donec dapibus lacus dolor, non pharetra risus
        sodales quis.
      </p>

      <button class="inverted no-wave">
        Browse this category
        <i>chevron_right</i>
      </button>
    </div>
  </div>
</section>

<div class="large-padding">
  <div class="divider"></div>
</div>

<section id="benefits" class="pb4">
  <h5 class="center-align">
    Our <span class="primary-text pl05">Benefits</span>
  </h5>

  <div class="row wrap">
    <div class="item">
      <div class="icon-header">
        <i class="primary white-text">bed</i>
        <p>Effortless Booking</p>
      </div>
      <p>
        Praesent mollis faucibus velit, eget pretium libero pharetra sit amet.
        Duis porta ultrices lorem. Ut libero massa, laoreet vitae laoreet vel,
        venenatis at nisl.
      </p>
    </div>
    <div class="item">
      <div class="icon-header">
        <i class="amber black-text">cycle</i>
        <p>Flexibility</p>
      </div>
      <p>
        Duis mattis sollicitudin risus, ut lobortis sem malesuada eget. Etiam
        elementum in tellus ultrices cursus. Fusce augue nisi, viverra at nibh
        vel, iaculis ultrices mauris.
      </p>
    </div>
    <div class="item">
      <div class="icon-header">
        <i class="green5 white-text">sell</i>
        <p>Exclusive Offers</p>
      </div>
      <p>
        Curabitur quis porta sapien, vehicula congue nunc. Duis et placerat
        ipsum, eget accumsan neque. Curabitur pharetra in nibh vitae imperdiet.
        Nullam a elit nec neque condimentum rutrum.
      </p>
    </div>
    <div class="item">
      <div class="icon-header">
        <i class="cyan white-text">location_on</i>
        <p>Local Insight</p>
      </div>
      <p>
        Morbi tincidunt et orci sed dictum. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas.
      </p>
    </div>
    <div class="item">
      <div class="icon-header">
        <i class="grey4 black-text">support_agent</i>
        <p>24/7 Support</p>
      </div>
      <p>
        Phasellus vehicula quam et purus tincidunt, quis elementum mauris
        pharetra. Phasellus egestas porttitor massa id porta.
      </p>
    </div>
  </div>
</section>

<div class="large-padding">
  <div class="divider"></div>
</div>

<section id="contact">
  <h5 class="center-align">
    <span class="primary-text pl05">Contact</span>&nbsp; Us
  </h5>

  <div class="row scroll">
    <div class="icon-header">
      <i class="grey9 white-text">mail</i>
      <p>test@example.com</p>
    </div>
    <div class="icon-header">
      <i class="grey9 white-text">phone</i>
      <p>111-222222-33333</p>
    </div>
    <div class="icon-header">
      <i class="grey9 white-text">location_on</i>
      <p>Addr X, InnOne, 123</p>
    </div>
  </div>

  <div class="grid">
    <div class="s12 m12 l6 center-align">
      <img src="/static/images/house_vector.png" alt="House Vector" />
    </div>
    <div class="s12 m12 l6">
      <div class="space"></div>
      <p class="large-text font-600">Get in touch with us</p>
      <div class="space"></div>
      <form>
        <div class="grid no-margin no-padding">
          <div class="field border prefix s12 m6 l6 no-margin">
            <i>account_circle</i>
            <input type="text" name="contact-name" placeholder="Name" />
          </div>
          <div class="field border prefix s12 m6 l6 no-margin">
            <i>mail</i>
            <input type="text" name="contact-email" placeholder="Email" />
          </div>
        </div>
        <div class="space"></div>
        <div class="field border">
          <input type="text" name="contact-subject" placeholder="Subject" />
        </div>
        <div class="field textarea border large">
          <textarea placeholder="Message"></textarea>
        </div>
        <button type="button" class="no-margin">Send Message</button>
      </form>
    </div>
  </div>
</section>

{{ end }} {{define "js"}} {{ end }}
