{{template "base" .}} {{define "content"}}

<section id="hero" class="grid">
  <div class="s12 s m m12">
    <img src="/static/images/hero.png" alt="Hero Image" />
  </div>
  <div class="s12 m12 l6 middle-align">
    <div class="pl5 l"></div>
    <div class="texts-wrapper">
      <h1 class="title">Your All-In-One booking solution</h1>
      <p class="subtitle">
        Manage your reservations, dine in the grand hall, and schedule
        activities, all with a few clicks. Navigate the fiery challenges of
        planning a stay with our
        <span class="primary-text font-600">InnOne</span> web app
      </p>

      <div class="space"></div>

      <button class="no-margin">Order a Room</button>
    </div>
  </div>
  <div class="l l6 center-align">
    <img src="/static/images/hero.png" alt="Hero Image" />
  </div>
</section>

<div class="large-padding">
  <div class="divider"></div>
</div>

<section id="offer">
  <h5>We Have It <span class="primary-text pl05">All</span></h5>
  <p>
    Every traveler, every dreamer, and every adventurer deserves a place that
    feels just right. That's why we offer a remarkable spectrum of rooms.
  </p>

  <div class="large-space"></div>

  <div class="item">
    <img src="/static/images/road.jpg" alt="Road" />
    <div>
      <h6>Humble Retreats</h6>
      <p>
        Discover our selection of humble retreats that provide a cozy and
        comfortable experience for budget-conscious travelers. These modest yet
        inviting rooms offer the perfect space for you to rest, recharge, and
        make the most of your journey.
      </p>

      <button class="inverted no-wave">
        Browse this category
        <i>chevron_right</i>
      </button>
    </div>
  </div>

  <div class="pt5 l m"></div>

  <div class="item">
    <img src="/static/images/house.jpg" alt="House" />
    <div>
      <h6>Mid-Range Comfort</h6>
      <p>
        Discover our selection of humble retreats that provide a cozy and
        comfortable experience for budget-conscious travelers. These modest yet
        inviting rooms offer the perfect space for you to rest, recharge, and
        make the most of your journey.
      </p>

      <button class="inverted no-wave">
        Browse this category
        <i>chevron_right</i>
      </button>
    </div>
  </div>

  <div class="pt5 l m"></div>

  <div class="item">
    <img src="/static/images/scenery.jpg" alt="Manor" />
    <div>
      <h6>Grandeur Suites</h6>
      <p>
        Indulge in the epitome of luxury with our grandeur suites. These opulent
        rooms are meticulously curated to provide an unforgettable experience.
        Perfect for special occasions, anniversaries, or simply when you want to
        treat yourself to the best.
      </p>

      <button class="inverted no-wave">
        Browse this category
        <i>chevron_right</i>
      </button>
    </div>
  </div>
</section>

<div class="large-padding">
  <div class="divider"></div>
</div>

<section id="benefits" class="pb4">
  <h5 class="center-align">
    Our <span class="primary-text pl05">Benefits</span>
  </h5>

  <div class="row wrap">
    <div class="item">
      <div class="icon-header">
        <i class="primary white-text">bed</i>
        <p>Effortless Booking</p>
      </div>
      <p>
        Our user-friendly interface makes reserving your spot a breeze. With
        just a few clicks, you can secure your reservations for accommodations,
        dining, events, and more
      </p>
    </div>
    <div class="item">
      <div class="icon-header">
        <i class="amber black-text">cycle</i>
        <p>Flexibility</p>
      </div>
      <p>
        Life is unpredictable, and plans can change.
        <span class="red-text font-600">InnOne</span> understands that, which is
        why we offer flexible modification options, allowing you to adapt to
        unexpected circumstances with ease.
      </p>
    </div>
    <div class="item">
      <div class="icon-header">
        <i class="green5 white-text">sell</i>
        <p>Exclusive Offers</p>
      </div>
      <p>
        Gain access to special promotions and discounts available exclusively to
        our users. Get the best deals on anything, helping you save money while
        enjoying the best experiences
      </p>
    </div>
    <div class="item">
      <div class="icon-header">
        <i class="cyan white-text">location_on</i>
        <p>Local Insight</p>
      </div>
      <p>
        Discover hidden gems and local hotspots. We provide recommendations and
        insights from experienced travelers and locals to ensure you make the
        most of your visit.
      </p>
    </div>
    <div class="item">
      <div class="icon-header">
        <i class="grey4 black-text">support_agent</i>
        <p>24/7 Support</p>
      </div>
      <p>
        Our dedicated support team is here for you around the clock. If you ever
        have questions or encounter any issues, we're just a message or call
        away to assist you.
      </p>
    </div>
  </div>
</section>

<div class="large-padding">
  <div class="divider"></div>
</div>

<section id="contact">
  <h5 class="center-align">
    <span class="primary-text pl05">Contact</span>&nbsp; Us
  </h5>

  <div class="row scroll">
    <div class="icon-header">
      <i class="grey9 white-text">mail</i>
      <p>test@example.com</p>
    </div>
    <div class="icon-header">
      <i class="grey9 white-text">phone</i>
      <p>111-222222-33333</p>
    </div>
    <div class="icon-header">
      <i class="grey9 white-text">location_on</i>
      <p>Addr X, InnOne, 123</p>
    </div>
  </div>

  <div class="grid">
    <div class="s12 m12 l6 center-align">
      <img src="/static/images/house_vector.png" alt="House Vector" />
    </div>
    <div class="s12 m12 l6">
      <div class="space"></div>
      <p class="large-text font-600">Get in touch with us</p>
      <div class="space"></div>
      <form>
        <div class="grid no-margin no-padding">
          <div class="field border prefix s12 m6 l6 no-margin">
            <i>account_circle</i>
            <input type="text" name="contact-name" placeholder="Name" />
          </div>
          <div class="field border prefix s12 m6 l6 no-margin">
            <i>mail</i>
            <input type="text" name="contact-email" placeholder="Email" />
          </div>
        </div>
        <div class="space"></div>
        <div class="field border">
          <input type="text" name="contact-subject" placeholder="Subject" />
        </div>
        <div class="field textarea border large">
          <textarea placeholder="Message"></textarea>
        </div>
        <button type="button" class="no-margin">
          Send Message
        </button>
      </form>
    </div>
  </div>
</section>

{{end}} {{define "js"}} {{end}}
