{{ template "base" .}}
{{ define "content"}}

<section id="login">
  <article>
    {{$errors := index .Page "errors"}}
    {{if $errors}}
    <div class="padding red7 white-text mb1">
      {{range $e := $errors}}
      {{range $e}}
      <li>{{.}}</li>
      {{ end }}
      {{ end }}
    </div>
    {{ end }}

    <form id="form-login" action="/login" method="post">
      <img
        src="/static/images/logo.png"
        alt="Site Logo"
        width="75"
        class="center"
      />
      <div class="space"></div>
      <input type="hidden" name="csrf" value="{{index .Page "csrf"}}" />

      <label for="email">Email</label>
      <div class="field border">
        <input type="text" id="email" name="email" value="test@example.com" />
      </div>
      <div class="space"></div>

      <label for="password">Password</label>
      <div class="field border">
        <input type="password" id="password" name="password" value="password" />
      </div>
      <div class="large-space"></div>

      <button class="no-margin responsive">
        Login
        <i>login</i>
      </button>
    </form>
  </article>
</section>
{{ end }}
