{{template "base" .}} {{define "content"}}
{{ $res := index .Data "reservation" }}
<section id="reservation-summary">
  <h6>Reservation Summary</h6>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Room</th>
          <th>Arrival</th>
          <th>Departure</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">{{$res.FirstName}}</td>
          <th class="red-text">{{$res.Room.RoomName}}</th>
          <td>{{index .StringMap "start_date"}}</td>
          <td>{{index .StringMap "end_date"}}</td>
          <td>{{$res.Email}}</td>
          <td>{{$res.Phone}}</td>
        </tr> 
      </tbody>
    </table>
  </div>
</section>
{{end}}
